@font-face {
  font-family: 'RwWidgets';
  src: url('../fonts/rw-widgets.eot?v=4.1.0');
  src: url('../fonts/rw-widgets.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../fonts/rw-widgets.woff?v=4.1.0') format('woff'), url('../fonts/rw-widgets.ttf?v=4.1.0') format('truetype'), url('../fonts/rw-widgets.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal
}
